<div class="details container-fluid">

  <div *ngIf="sneaker">

    <mat-card class="card-image">
      <mat-card-content>
        <i class="fas fa-chevron-left icon-nav" (click)="prevPage()" title="Previous order"
          *ngIf="this.sneakers.length >1"></i>
        <img [src]="sneaker.image" mat-card-image alt="">
        <div class="action">
          <button color="primary" (click)="openDialog()" mat-button title="Order">ORDER NOW</button>
        </div>
        <i class="fas fa-chevron-right icon-nav" (click)="nextPage()" title="Next order"
          *ngIf="this.sneakers.length >1"></i>
      </mat-card-content>
      <mat-card-footer>
        <table>

          <tr>

            <th>Size</th>
            <td>{{sneaker.sizesaleected}}</td>

          </tr>

          <tr>
            <th>Brand</th>
            <td>{{sneaker.brand}}</td>

          </tr>
          <tr>
            <th>Model</th>
            <td>{{sneaker.model}}</td>
          </tr>

          <tr>
            <th>Price</th>
            <td>{{sneaker.price}}</td>
          </tr>
          <tr>
            <th>Total</th>
            <td>{{totalPay|currency}}</td>
          </tr>
        </table>
      </mat-card-footer>
    </mat-card>

  </div>

</div>
<app-spinner *ngIf="!sneaker"></app-spinner>

<div class="navigator"></div>
