<app-spinner *ngIf="!sneaker"></app-spinner>
<div class="details container-fluid">
  <div *ngIf="sneaker">
    <mat-card class="card-image">
      <mat-card-content>
        <img class="left_to_right" [src]="sneaker.image" mat-card-image alt="">
        <div class="action">
          <mat-form-field class="form-control">
            <mat-select placeholder="Select size" [(ngModel)]="selectedSize">
              <mat-option [value]="size" *ngFor="let size of sneaker.sizes">
                {{size}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="addToCard()"><i class="fas fa-add" title="Add to cart"></i></button>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <table class="right_to_left">

          <tr>
            <th>Brand</th>
            <td>{{sneaker.brand}}</td>

          </tr>
          <tr>
            <th>Model</th>
            <td>{{sneaker.model}}</td>
          </tr>

          <tr>
            <th>Price</th>
            <td>{{sneaker.price |currency}}</td>
          </tr>

        </table>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
